body {
   background-color: #FFFFFF;
   color: #000000;
}

.img-fluid {
   max-width: 100%;
   height: auto;
}

h1 {
   text-align: center;
}

.navbar {
   text-align: center;
}

#sky {
   width: 50%;
   float: left;
   padding: 15px;
}

#earth {
   width: 50%;
   float: right;
   padding: 15px;
}
