body {
   background-color: #000000;
   color: #FFFFFF;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}  

h1 {
   font-size: 30px; 
   border: 4px solid;
   padding-right: 5px;
   padding-left: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
}

p {
   font-size: 15px;
   color: #556215;
}

.aboutme {
   border: 2px dotted;
   width: 100px;
   height: 100px;
}

.forests {
   background-color: #FFFFFF;
   border-radius: 5px;
}

.background {
   background-color: #d9d7c0;
   opacity: 0,3;
}

#forest {
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 50px;
}

#puijo {
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left:5px;
   margin-right: 5px;
   float: right;
}

.greengold {
   margin-left:70px;
}

#header {
   background-color: #cdcdcd;
   text-align: center;
   padding-right: 5px;
   padding-left: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
}

 #navvertical {
    width: 30%;
    float:left;
    background-color: #ffcccc;
    text-align: center;
    padding: 8px;
    overflow: auto;
}

#navhorizontal {
    background-color: #ffcccc;
    text-align: center;
    padding: 8px;
}

#navhorizontal li {
   display: inline;  
}

#navhorizontal ul {
   list-style-type: none;
}

#navhorizontal a {
   text-decoration: none;
}

#section {
    width: 70%;
    float: right;
    background-color: #d9c0c2;
    padding: 15px;
 }
      
  #article {
     width: 70%;
     float: right;
     background-color: #c0d9d8;
     padding: 15px
 }

#aside {
   width: 70%; 
   float: right;
   padding: 15px;
   background-color:#c0cfd9;
}
   
 #footer {
    background-color: #c0d9cb;
    text-align: center;
    padding: 10px;
    clear: both; 
}

a:hover {
   color: #ff0000; 
}
    
 
