styles.css

body {
   background-color: black;
   color: white;
}

h1 {
   font-size: 20px;
}

p {
   font-size: 12px;
   color: green;
}

.aboutme {
   border-style: 2px dotted;
   border-width: 100px;
   border-lenght: 100px;
}

ul {
   list-style-type: square;
}

ol {
   list-style-type: lower-alpha;
}
